<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.alshuaibaliv2.cotabatoland"
        version   = "1.0.0">
    <name>Cotabato Land</name>
    <description>The Tourist Spots in Cotabato City</description>
    <icon src="MyImages/icon128.png" />

	</widget>

<uses-permission android:name="android.permission.INTERNET" />
